# Игнорирование всех файлов окончивающихся
**/.env
# Игнорирование всех папок окончивающихся
**/dev-dist/
**/node_modules/
**/dist/
postgresData
sql

# Игнорирование всех файлов окончивающихся на .log
*.log
*.lock